//font-sizes
$body-font-size: 14px;
$h1-size: 1.5rem;
$menu-size: 30px;
$content-size-title: 40px;
$word-price-font-size: 28px;

//Colors
$header-color: rgb(219, 219, 219);
$title-footer-nav-main-color: rgb(118, 118, 118);
$price-color: #444444;
$modal-window-mask-background-color: rgba(0, 0, 0, 0.5);
$form-color-label: #535353;
$background-button: #777777;

//Media
$landscape-iphone-x: 810px;
